.super-mario {
    width: 200px;
    position: absolute;
    left: 100px;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    top: 400px;
    left: 150px;

  }
  
  .baloon {
    position: absolute;
    top: 250px;
    left: 350px;
    z-index: 1;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;  
    top: 285px;
    left: 370px;
    z-index: 2;
}
  
  .bowser {
    width: 200px;
    position: absolute; 
    top: 370px;
    left: 650px;
}